@media (max-width:567px){

    /* fixed */
    .mobileBtn{
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    .mobileBtn ul{
        display: flex;

    }
    .mobileBtn ul li{
        flex-grow: 1;
        text-align: center;
        padding: 10px 0px;

    }
    .mobileBtn ul li:nth-child(1){
      background: #007bff;
    }
    
    .mobileBtn ul li:nth-child(2){
        background-color:GOLD;
    }
    .mobileBtn ul li a{
        color: white;

    }

    /* header */
    .logo {
        display: block;
        margin: auto;
    }
    .header-midd nav button{
        display: none;
    }
    /* videos */
    .packingVideos{
        margin: 30px 0px;
    }
    .packingVideos h2{
        font-size: 25px;
    }
    .packingVideos h2 span{
        font-size: 25px;
    }
    .videos-midd{
        flex-direction: column;
    }
    .videosItems{
        flex-direction: column;
    }

    /* banner */

    .banner-midd{
        flex-direction: column;
    }
    .bannerContent{
        text-align: center;
    }
    .bannerContent h1{
        font-size: 25px;
        line-height:30px;
        margin-bottom:20px;
    }
    .bannerContent h2{
        text-transform: capitalize;
        padding-bottom:15px;
    }
    .bannerForm form input{
        width: 100%;
        height: 22px;
        margin-bottom: 22px;
        padding: 0px 5px;
    }
    .captcha{
        padding:8px 8px;
        background: #ffcf40;
        text-align: center;
         color: white;
         font-size:20px;
    }


    /* benner end */

    /* services */

    .services{
        margin: 20px 0px;
    }
    .services-midd{
        flex-direction: column;
        margin: 0px 10px;
    }
    .services h2{
        font-size: 25px;
    }
    .whyPackshifts-midd{
        margin: 0px 15px;
    }
    .whyPackshifts h2{
        font-size: 25px;

    }
    .whyPackshiftsItems{
        flex-basis: 48%;
        margin: 1%;
    }

    /* our acheivement */
    .achievement h2{
        font-size: 30px;
    }
    .achievement h4{
        font-size: 15px;
    }
    .achievementItems{
        flex-basis:48%;
        margin: 1%;
    }

    /* customers */
    .customers{
        margin: 20px 0px;
    }
    
.customers h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.customers h1 span{
    font-size: 30px;
    margin-bottom:15px;
}
.customersImage{
    display: none;
}
.customerContent{
    width: 100%;
    padding:20px 40px;
    margin: auto;
}
.customersImageMobile{
    display: block;
    background: #ffcf40;
    border-radius: 10px 0px 10px 0px;
    margin: 20px  0px 60px 0px;
}
.customersImageMobile img{
    display: block;
    margin: auto;
    padding:5px 10px 0px 10px ;
}

.customersImageMobile h3{
    text-align: center;
    color: white;
    font-size: 25px;
    
}
.customersImageMobile p{
    text-align: center;
    color: white;
    font-size: 16px;
    padding-bottom: 10px;
    
}

/* footer */
.footerIcon{
    padding:0px 5px ;
}
.footercontent p{
    text-align: left;
 
 }
 .footer-below{
    max-width: 1170px;
    margin: auto;
    padding:0px 0px 50px 0px;
 }
}